//Navbar gradient colours: #4A90E2 (dark blue) | #80C3F3 (Light Blue)
//Blue icons / buttons: #4A90E2
//Dark Grey (names): #4A4A4A
//Light Grey (numbers & emails): #9B9B9B
//Letter bar background:  20% opacity on #9B9B9B
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$color-blue: #4A90E2;
$color-blue-light: #80C3F3;

.header_gradient {
  background: #4a90e2;
  background: -moz-linear-gradient(left, $color-blue 0%, $color-blue-light 100%);
  background: -webkit-linear-gradient(left, $color-blue 0%, $color-blue-light 100%);
  background: linear-gradient(to right, $color-blue 0%, $color-blue-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-blue', endColorstr='$color-blue-light', GradientType=1);
}

$font-family-base: 'Roboto', sans-serif;

$headings-color: $gray-500;
$h1-font-size: 30px;
