@import "_custom_variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

header {
  @extend .header_gradient;
  height: 90px;
  box-shadow: $box-shadow-sm;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid $gray-600;
  position: relative;
  img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.upload-img {
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  .fab-btn {
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: -6px;
    right: -6px;
    cursor: pointer;
    &:hover {
      .fab-add { background: darken($color-blue, 1%) }
    }
  }
  .fab-add, input[type="file"] {
    width: 36px;
    height: 36px;
    position: absolute;
  }
  .fab-add {
    border-radius: 50%;
    display: flex;
    background: $color-blue;
    i { color: white;  margin: auto}

  }
  input[type="file"] {
    opacity: 0;
    overflow: hidden;
  }
}

.section-title {
  background: fade_out(#9B9B9B, 0.8);
  padding: 0.2rem 0.5rem;
}


.list-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  + .list-item {
    border-top: 1px solid $gray-400;
  }
  &__details {
    font-size: 14px;
  }
  .name {
    font-size: 18px;
    font-weight: 700;
  }
}

.modal-footer {
  .btn {
    min-width: 100px;
  }
}

.was-validated .form-control,
.form-control.is-valid {
  &:valid, .is-valid {
    border-color: $input-border-color;
    color: $input-color;
    background: $input-bg;
    &:focus {
      border-color: $input-focus-border-color;
      color: $input-focus-color;
      background: $input-focus-bg;
      box-shadow: $input-focus-box-shadow;
    }
  }

}

.message-container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
